<h1>Catálogo de Filmes</h1>

<ul>
    <li><%= link_to 'Diretores', directors_path %>
    <li><%= link_to 'Gêneros', genres_path %>
</ul>

<ul>
    <% @movies.each do |movie| %>
        <li><%= link_to movie.title, movie %> - <%= movie.release_date.strftime('%Y') %>
    <% end %>
</ul>
